src/main/mule/myfirstmuleproject.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c7e54e82-2dd3-498b-8d9a-74f64a4a56e4" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="myfirstmuleprojectFlow" doc:id="3cf67d04-eb2b-424f-b6ef-eb22095777d9" >
		<http:listener doc:name="Listener" doc:id="631eec2c-c7f5-4a79-97a1-70c36bf96fef" config-ref="HTTP_Listener_config" path="/first"/>
		<set-variable value="#[attributes.queryParams.name]" doc:name="name" doc:id="6fe61b72-e2a9-42d2-a470-869f6b780693" variableName="name"/>
		<set-variable value="#[payload.job]" doc:name="job" doc:id="0cb45fb7-1c88-49f6-a24d-ea33a9f871b4" variableName="job"/>
		<ee:transform doc:name="Transform Message" doc:id="8aa07b3b-4c0f-4209-87b3-dba4e49ecdc6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Name": vars.name,
	"Job":vars.job
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="e39b0180-8f8f-4cc7-a65d-6c5323a0dec6" message="#[payload]"/>
	</flow>
</mule>
